html, body{

  background-color: #00BBEF;
  overflow-y: hidden;
  overflow: hidden;
  width: 100%;
  font-family: 'Lato', sans-serif;
  display: table;
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
}

h5{
  font-size: 14px;
}

.form-control{
  color: white;
  font-size: 17px;
  background-color: inherit;
  border: inherit;
  border-bottom: 2px white solid;
  border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
/*   -webkit-transition: none;
       -o-transition: none;
          transition: none; */
}

.form-control:focus {
  border-color: white;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:-ms-input-placeholder {
  color: #00212a;
  font-size: 17px;
}
.form-control::-webkit-input-placeholder {
  color: #00212a;
  font-size: 17px;
}

.btn{
  background-color: inherit;
  border-radius: 0px;
  border: 1px solid white;
  margin-top: 4%;
}

.dblue{
  background-color: inherit;
  background-image: url('../images/stock2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  float:none;
  height: 100%;
}

@media(max-width:767px){
    .test {
    padding-top: 15%;
    padding-bottom: 20%;
  }
    body{
    overflow-y: visible;
  }
    .endm img{
      width: 40%;
    }
}
@media(min-width:768px){
    .test {
    padding-top: 18%;
    padding-bottom: 20%;
  }
    body{
    overflow-y: visible;
  }
   .endm img{
    width: 50%;
    }
}
@media(min-width:992px){
    .test {
    padding-top: 14%;
  }
  body{
    overflow-y: visible;
  }
    .endm img{
    width: 70%;
  }
}
@media(min-width:992px) and (max-width:1200px){
    .dblue{
      display: none;
    }
}
@media(min-width:1200px){
    .test {
    padding-top: 13% ;
  }
    body{
    overflow: hidden;
  }
    .endm img{
      width: 100%;
    }
}

form{
  display: ;
}

.text{
  text-align: left;
  color: white;
  margin-top: 4%;
  padding: 1%;
  font-size: 15px;
  line-height: 25px;
  display: none;
}

.box{
  width: 400px;
  height: 420px;
}

.input--nao {
  overflow: hidden;
  padding-top: 1.35em;
}

.input__field--nao {
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  color: white;
  font-size: 1.25em;
}

.input__label--nao {
  position: absolute;
  top: 0.35em;
  font-size: 1.15em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.graphic--nao {
  stroke: white;
  stroke-width: 2px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #00708f;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #00708f;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

.endm{
  display: none;
  padding-top:18%;
  margin-bottom: 50%
}

.row{
  height: 100%;
}

.container{
  
}
